@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.4s ease;
}

/* ===== Colours ===== */
:root {
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

    body.dark {
        --body-color: #0f1519;
        --nav-color: #111;
        --side-nav: #242526;
        --text-color: #CCC;
        --search-bar: #242526;
    }

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav {
    border: 1px solid #393838;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    nav .nav-bar .sidebarOpen {
        color: var(--text-color);
        font-size: 25px;
        padding: 5px;
        cursor: pointer;
        display: none;
    }

    nav .nav-bar .logo a {
        font-size: 25px;
        font-weight: 500;
        /*color: var(--text-color);*/
        color: #00c8c8;
        text-decoration: none;
    }

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

    .nav-bar .nav-links li {
        margin: 0 5px;
        list-style: none;
    }

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

    .nav-links li a::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: rgba(0, 200, 200);
        opacity: 0;
        transition: all 0.3s ease;
    }

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .dark-light i.sun {
        opacity: 0;
        pointer-events: none;
    }

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

    .searchBox .search-field {
        position: absolute;
        bottom: -85px;
        right: 5px;
        height: 50px;
        width: 300px;
        display: flex;
        align-items: center;
        background-color: var(--nav-color);
        padding: 3px;
        border-radius: 6px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

.searchToggle.active ~ .search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input {
    color: var(--text-color);
}

.search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i {
    color: var(--text-color);
}

.logout {
    background-color: var(--nav--color);
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-bar .nav-links .logout {
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}

/* Register and login forms css */
.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 170px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

    .container .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

        .container .title::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #00c8c8, #000);
        }

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
}

form .input-box span.error-span {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
    color: red;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

    .user-details .input-box input:focus,
    .user-details .input-box input:valid {
        border-color: #00c8c8;
    }

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

    form .category label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
    }

        form .category label .dot {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            margin-right: 10px;
            background: #d9d9d9;
            border: 5px solid transparent;
            transition: all 0.3s ease;
        }

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    background: #006464;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

    form .button input {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #00c8c8, #000);
    }

        form .button input:hover {
            /* transform: scale(0.99); */
            background: linear-gradient(-135deg, #000, #00c8c8);
        }

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

/*Log In page css*/
::selection {
    background: #4158d0;
    color: #fff;
}

.wrapper {
    width: 380px;
    background: #fff;
    border-radius: 15px;
    margin-top: 170px;
    margin-left: 780px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

    .wrapper .title {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        line-height: 100px;
        color: #fff;
        user-select: none;
        border-radius: 15px 15px 0 0;
        background: linear-gradient(135deg, #00c8c8, #000);
    }

    .wrapper form {
        padding: 10px 30px 50px 30px;
    }

        .wrapper form .field {
            height: 50px;
            width: 100%;
            margin-top: 20px;
            position: relative;
        }

            .wrapper form .field input {
                height: 100%;
                width: 100%;
                outline: none;
                font-size: 17px;
                padding-left: 20px;
                border: 1px solid lightgrey;
                border-radius: 25px;
                transition: all 0.3s ease;
            }

                .wrapper form .field input:focus,
                form .field input:valid {
                    border-color: #006464;
                }

            .wrapper form .field label {
                position: absolute;
                top: 50%;
                left: 20px;
                color: #999999;
                font-weight: 400;
                font-size: 17px;
                pointer-events: none;
                transform: translateY(-50%);
                transition: all 0.3s ease;
            }

form .field input:focus ~ label,
form .field input:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #00c8c8;
    background: #fff;
    transform: translateY(-50%);
}

form .content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

    form .content .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form .content input {
        width: 15px;
        height: 15px;
        background: red;
    }

    form .content label {
        color: #262626;
        user-select: none;
        padding-left: 5px;
    }

    form .content .pass-link {
        color: "";
    }

form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(135deg, #00c8c8, #000);
    transition: all 0.3s ease;
}

    form .field input[type="submit"]:hover {
        transform: scale(0.95);
        background: linear-gradient(-135deg, #000, #00c8c8);
    }

form .signup-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}

    form .pass-link a,
    form .signup-link a {
        color: #00c8c8;
        text-decoration: none;
    }

        form .pass-link a:hover,
        form .signup-link a:hover {
            text-decoration: underline;
        }

@media(max-width: 459px) {
    .wrapper {
        margin-top: 140px;
        margin-left: 5px;
    }
}

/*Tournament page*/
.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

    .event-container h3.year {
        font-size: 40px;
        text-align: center;
        border-bottom: 1px solid #b1b1b1;
        color: white;
    }

    .event-container .event {
        box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
        display: flex;
        border-radius: 8px;
        margin: 32px 0;
    }

.event .event-left {
    background: #222;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

    .event .event-left .date {
        font-size: 56px;
    }

    .event .event-left .month {
        font-size: 16px;
        font-weight: normal;
    }

    .event .event-left .input-none {
        display: none;
    }

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    min-width: 500px;
    color: #8fa3b0;
    background-color: #0a0e13;
}

    .event .event-right h3.event-title {
        font-size: 24px;
        margin: 24px 0 10px 0;
        color: #218bbb;
        text-transform: uppercase;
    }

    .event .event-right .event-timing {
        background: #fff8ba;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        padding: 8px;
        border-radius: 16px;
        margin: 24px 0;
        font-size: 14px;
    }

        .event .event-right .event-timing img {
            height: 20px;
            padding-right: 8px;
        }

.event .event-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    background-color: #0a0e13;
}

    .event .event-end .participate {
        height: 30%;
        width: 115%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

        .event .event-end .participate:hover {
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
        }

    .event .event-end .expired {
        height: 30%;
        width: 115%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        pointer-events: none;
        background-color: grey;
    }

    .event .event-end .started {
        height: 30%;
        width: 115%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        pointer-events: none;
        background-color: #4158d0;
    }

    .event .event-end .cancel {
        height: 30%;
        width: 115%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: red;
    }

    .event .event-end .input-none {
        display: none;
    }

@media (max-width: 550px) {
    .event {
        flex-direction: column;
    }

        .event .event-left {
            padding: 0;
            border-radius: 8px 8px 0 0;
        }

            .event .event-left .event-date .date,
            .event .event-left .event-date .month {
                display: inline-block;
                font-size: 24px;
            }

            .event .event-left .event-date {
                padding: 10px 0;
            }
}

/*Schedule page*/
.Schedule {
    animation: fadein .8s;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #0f1519;
    color: white;
}

    .Schedule .events, .Schedule .loading {
        width: calc(((100% - 442px) / 12) * 9 + 340px);
        margin-bottom: 60px;
    }

    .Schedule .sidebar {
        border-left: 1px solid #252c32;
        position: relative;
        z-index: 1;
    }

.Event {
    animation: fadein .8s;
    position: relative;
}

.EventDate {
    display: inline-block;
    margin-top: 50px;
}

    .EventDate .date {
        margin: 0 34px;
        padding: 48px 0 15px 0;
        font-size: 1.8rem;
        font-weight: normal;
    }

        .EventDate .date .weekday {
            font-weight: bold;
        }

        .EventDate .date .dash {
            padding: 0 4px;
        }

.EventMatch .event.future, .EventMatch .event.past {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: calc(((100% - 442px) / 12) * 12 + 374px);
    height: 100px;
    margin: 0 34px;
}

    .EventMatch .event.future:before, .EventMatch .event.past:before {
        position: absolute;
        top: -1px;
        left: calc(((100% - 442px) / 12) * 2 + 68px);
        right: 0;
        height: 1px px;
        content: '';
        display: block;
        background: #252c32;
    }

.EventTime {
    display: inline-block;
    flex: 0 0 110px;
}

    .EventTime .time {
        position: relative;
        font-size: 4rem;
        line-height: 1em;
        opacity: 0;
        font-weight: bold;
        transition: opacity .25s ease-out;
    }

        .EventTime .time .minute, .EventTime .time .ampm {
            position: relative;
            padding-left: 4px;
            top: -18px;
            color: #8fa3b0;
            font-size: 1.4rem;
            letter-spacing: .1rem;
            font-weight: bold;
            color: #fff;
            line-height: 0;
        }

.EventMatch .teams {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    position: relative;
}

    .EventMatch .teams .team1 {
        text-align: right;
        justify-content: flex-start;
        flex-direction: row-reverse;
    }

        .EventMatch .teams .team1 .team-info {
            padding-right: 12px;
        }

    .EventMatch .teams.winner-team1 .team1 h2 {
        color: #c79e57;
    }

    .EventMatch .teams .winloss {
        color: #8fa3b0;
        color: #8fa3b0;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: bold;
    }

    .EventMatch .teams .team2 {
        text-align: left;
        justify-content: flex-start;
    }

        .EventMatch .teams .team2 .team-info {
            padding-left: 12px;
        }

    .EventMatch .teams.winner-team1 .team2 h2 {
        color: #8fa3b0;
        transition: color .25s ease-out;
    }

    .EventMatch .teams.winner-team2 .team2 h2 {
        color: #c79e57;
    }

    .EventMatch .teams.winner-team2 .team1 h2 {
        color: #8fa3b0;
        transition: color .25s ease-out;
    }

.EventMatch .score, .EventMatch .versus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    color: #8fa3b0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

    .EventMatch .score .scoreTeam1, .EventMatch .versus .scoreTeam1 {
        position: relative;
    }

        .EventMatch .score .scoreTeam1:before, .EventMatch .versus .scoreTeam1:before {
            display: none;
            position: absolute;
            top: 0;
            left: -20px;
            color: #b19955;
            width: 24px;
            font-size: 9px;
            padding: 0 6px;
            content: '\25C0';
            font-family: 'Segoe UI Symbol';
        }

    .EventMatch .score .scoreTeam2, .EventMatch .versus .scoreTeam2 {
        position: relative;
    }

        .EventMatch .score .scoreTeam2:after, .EventMatch .versus .scoreTeam2:after {
            display: none;
            position: absolute;
            top: 0;
            right: -20px;
            color: #b19955;
            width: 24px;
            font-size: 9px;
            padding: 0 6px;
            content: '\25B6';
            font-family: 'Segoe UI Symbol';
        }

.EventMatch .league {
    flex: 0 0 110px;
    color: #8fa3b0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: bold;
    text-align: right;
}

.EventMatch .event.future:before, .EventMatch .event.past:before {
    position: absolute;
    bottom: 0;
    left: calc(((100% - 442px) / 12) * 2 + 68px);
    right: 0;
    height: 1px;
    content: '';
    display: block;
    background: #252c32;
}

.EventMatch .event.future:after, .EventMatch .event.past:after {
    position: absolute;
    bottom: 0;
    left: calc(((100% - 442px) / 12) * 2 + 68px);
    right: 0;
    height: 1px;
    content: '';
    display: block;
    background: #252c32;
}

.sidebar {
    width: calc(((100% - 442px) / 12) * 3 + 102px);
    min-height: 100vh;
    min-width: 360px;
    background: #0a0e13;
}

.EventFilter {
    animation: fadein .8s;
    width: 100%;
}

    .EventFilter .header {
        display: block;
        position: relative;
        width: 100%;
        z-index: 1;
        border-bottom: 1px solid #252c32;
    }

        .EventFilter .header .filter {
            color: #8fa3b0;
            font-size: 1.4rem;
            letter-spacing: .1rem;
            font-weight: bold;
            text-transform: uppercase;
            position: absolute;
            left: 30px;
            bottom: 12px;
        }

    .EventFilter .leagues {
        padding: 0 0 80px 0;
        margin: 0;
        overflow-y: auto;
    }

        .EventFilter .leagues .league {
            position: relative;
            cursor: pointer;
            list-style: none;
            border-bottom: 1px solid #252c32;
            color: #8fa3b0;
            transition: background .25s ease-out;
            width: 100%;
        }

            .EventFilter .leagues .league .info {
                display: flex;
                align-items: center;
            }

                .EventFilter .leagues .league .info .label {
                    padding-top: 2px;
                }

            .EventFilter .leagues .league.selected .info .label .name {
                color: #fff;
            }

            .EventFilter .leagues .league .info .label .name {
                font-size: 1.8rem;
                font-weight: normal;
                color: #8fa3b0;
            }

            .EventFilter .leagues .league .info .label .region {
                text-transform: uppercase;
                color: #8fa3b0;
                font-size: 1.4rem;
                letter-spacing: .1rem;
                font-weight: bold;
            }

            .EventFilter .leagues .league:after {
                display: block;
                position: absolute;
                top: 0;
                width: 4px;
                height: 100%;
                content: '';
                z-index: 100;
                background: transparent;
                transition: background .25s ease-out;
            }

            .EventFilter .leagues .league.selected:after, .EventFilter .leagues .league.selected:hover:after {
                background: #00c8c8;
            }

.button {
    background: transparent;
    color: inherit;
    cursor: pointer;
    letter-spacing: inherit;
    line-height: normal;
    text-align: inherit;
    text-transform: inherit;
    font: inherit;
    border: none;
}

@media (min-width: 1076px) {
    .EventFilter {
        position: fixed;
        top: 80px;
        height: calc(100vh - 80px);
    }

        .EventFilter .header {
            height: 75px;
        }

        .EventFilter .leagues {
            height: calc(100% - 75px);
        }

            .EventFilter .leagues .league .info {
                padding: 12px 0;
            }

        .EventFilter .header .save {
            display: none;
        }

        .EventFilter .leagues .league .info .label1 {
            margin-left: 15px;
        }
}

@media (min-width: 721px) and (pointer: fine) {
    .EventMatch .event.future.past:hover, .EventMatch .event.past.past:hover, .EventMatch .event.single.future.event:hover {
        width: 100%;
        margin: 0;
        padding: 0 34px;
        background-color: #0a0e13;
        transition: background-color .1s ease-out;
    }
}

/* Index page for displaying started tournaments */

.recentNews {
    
}

    .recentNews .news-title {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'nimbus-sans-condensed', sans-serif;
        font-size: 55px;
        font-weight: bold;
        color: #fff;
    }

    .recentNews .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .recentNews .ct-blog {
        margin-bottom: 30px;
    }

    .container-news {
        padding: 20px;
        margin-top: 30px;
    }

.ct-blog .inner {
    background-color: #FFF;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 100%;
}

    .ct-blog .inner:hover {
        background-color: #e6e6e6;
    }

.ct-blog .fauxcrop {
    height: 260px;
    overflow: hidden;
}

    .ct-blog .fauxcrop img {
        width: 100%;
        height: auto;
    }

.ct-blog-content {
    display: table;
    padding: 30px 0 28px;
}

    .ct-blog-content .ct-blog-date {
        border-right: 1px solid #95A5A6;
        display: table-cell;
        font-family: "Lato", sans-serif;
        padding: 0px 18px 0px 15px;
        text-align: center;
    }

        .ct-blog-content .ct-blog-date span {
            font-size: 16px;
            color: rgb(20, 117, 175);
            font-weight: 700;
            display: block;
            line-height: 1;
        }

        .ct-blog-content .ct-blog-date strong {
            font-size: 25px;
            color: rgb(20, 117, 175);
        }

    .ct-blog-content .ct-blog-header {
        color: #000;
        /*display: table-cell;*/
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.2px;
        line-height: 1.1;
        padding: 0 20px;
        vertical-align: top;
    }

.btn-news {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}

    .btn-news.btn-contests a {
        color: #fff;
        font-family: 'nimbus-sans-condensed', sans-serif;
        font-size: 24px;
        transition: all 0.2s ease-in-out 0s;
    }

        .btn-news.btn-contests a:hover {
            color: #000;
        }

@media(max-width: 459px) {

    .ct-blog .fauxcrop  {
        height: 60%;
        overflow: hidden;
    }

    .ct-blog-content {
        display: table;
        padding: 30px 0 28px;
        padding-top: 0px;
    }

    .recentNews .ct-blog {
        height: 400px;
    }

    .ct-blog-header {
        font-size: 18px;
    }
}

/* LeaderBoard css */
.leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 608px;
    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

    .leaderboard h1 {
        font-size: 18px;
        color: #e1e1e1;
        padding: 12px 13px 18px;
    }

        .leaderboard h1 svg {
            width: 25px;
            height: 26px;
            position: relative;
            top: 3px;
            margin-right: 6px;
            vertical-align: baseline;
        }

    .leaderboard ol {
        counter-reset: leaderboard;
        padding-left: 0px;
    }

        .leaderboard ol li {
            position: relative;
            z-index: 1;
            font-size: 14px;
            counter-increment: leaderboard;
            padding: 18px 10px 18px 50px;
            cursor: pointer;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1, 1);
        }

            .leaderboard ol li::before {
                content: counter(leaderboard);
                position: absolute;
                z-index: 2;
                top: 15px;
                left: 15px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                color: #c24448;
                background: #fff;
                border-radius: 20px;
                text-align: center;
            }

            .leaderboard ol li mark {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 18px 10px 18px 50px;
                margin: 0;
                background: none;
                color: #fff;
            }

                .leaderboard ol li mark::before, .leaderboard ol li mark::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    bottom: -11px;
                    left: -9px;
                    border-top: 10px solid #c24448;
                    border-left: 10px solid transparent;
                    transition: all 0.1s ease-in-out;
                    opacity: 0;
                }

                .leaderboard ol li mark::after {
                    left: auto;
                    right: -9px;
                    border-left: none;
                    border-right: 10px solid transparent;
                }

            .leaderboard ol li small {
                position: relative;
                z-index: 2;
                display: block;
                text-align: right;
                color: white;
                font-size: 20px;
            }

            .leaderboard ol li::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #fa6855;
                box-shadow: 0 3px 0 rgba(0, 0, 0, .08);
                transition: all 0.3s ease-in-out;
                opacity: 0;
            }

            .leaderboard ol li:nth-child(1) {
                background: #fa6855;
            }

                .leaderboard ol li:nth-child(1)::after {
                    background: #fa6855;
                }

            .leaderboard ol li:nth-child(2) {
                background: #e0574f;
            }

                .leaderboard ol li:nth-child(2)::after {
                    background: #e0574f;
                    box-shadow: 0 2px 0 rgba(0, 0, 0, .08);
                }

                .leaderboard ol li:nth-child(2) mark::before, .leaderboard ol li:nth-child(2) mark::after {
                    border-top: 6px solid #ba4741;
                    bottom: -7px;
                }

            .leaderboard ol li:nth-child(3) {
                background: #d7514d;
            }

                .leaderboard ol li:nth-child(3)::after {
                    background: #d7514d;
                    box-shadow: 0 1px 0 rgba(0, 0, 0, .11);
                }

                .leaderboard ol li:nth-child(3) mark::before, .leaderboard ol li:nth-child(3) mark::after {
                    border-top: 2px solid #b0433f;
                    bottom: -3px;
                }

            .leaderboard ol li:nth-child(4) {
                background: #cd4b4b;
            }

                .leaderboard ol li:nth-child(4)::after {
                    background: #cd4b4b;
                    box-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
                }

                .leaderboard ol li:nth-child(4) mark::before, .leaderboard ol li:nth-child(4) mark::after {
                    top: -7px;
                    bottom: auto;
                    border-top: none;
                    border-bottom: 6px solid #a63d3d;
                }

            .leaderboard ol li:nth-child(5) {
                background: #c24448;
                border-radius: 0 0 10px 10px;
            }

                .leaderboard ol li:nth-child(5)::after {
                    background: #c24448;
                    box-shadow: 0 -2.5px 0 rgba(0, 0, 0, .12);
                    border-radius: 0 0 10px 10px;
                }

                .leaderboard ol li:nth-child(5) mark::before, .leaderboard ol li:nth-child(5) mark::after {
                    top: -9px;
                    bottom: auto;
                    border-top: none;
                    border-bottom: 8px solid #993639;
                }

            .leaderboard ol li:hover {
                z-index: 2;
                overflow: visible;
            }

                .leaderboard ol li:hover::after {
                    opacity: 1;
                    transform: scaleX(1.06) scaleY(1.03);
                }

                .leaderboard ol li:hover mark::before, .leaderboard ol li:hover mark::after {
                    opacity: 1;
                    transition: all 0.35s ease-in-out;
                }

.the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;
}

    .the-most img {
        max-width: 100%;
    }

@media(max-width: 459px) {
    .leaderboard {
        width: 360px;
        height: 708px;
        top: 55%;
    }
}
 