<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="phpma"
         connectionString="Server=studmysql01.fhict.local;Uid=dbi482834;Database=dbi482834;Pwd=Syrux79;Allow User Variables=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>