<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DuelSysWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DuelSysWeb.styles.css" asp-append-version="true" />

    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">

        <nav>
            <div class="nav-bar">
                <i class='bx bx-menu sidebarOpen'></i>
                <span class="logo navLogo"><a asp-page="/Index">DUELSYS</a></span>

                <div class="menu">
                    <div class="logo-toggle">
                        <span class="logo"><a asp-page="/Index">DUELSYS inc.</a></span>
                        <i class='bx bx-x siderbarClose'></i>
                    </div>

                    <ul class="nav-links">
                        <li><a asp-page="/Index">Home</a></li>
                        <li><a asp-page="/Schedule">Schedule</a></li>
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-page="/TournamentPage">Tournaments</a></li>
                            <li><form method="post" asp-page="/LogOut" style="display: inline-block;"><button type="submit" class="logout">Log Out</button></form></li>
                        }
                        else
                        {
                            <li><a asp-page="/LogInPage">Log In</a></li>
                            <li><a asp-page="/RegisterPage">Sign Up</a></li>
                        }
                    </ul>
                </div>

                <div class="darkLight-searchBox">
                    <div class="dark-light">
                        <i class='bx bx-moon moon'></i>
                        <i class='bx bx-sun sun'></i>
                    </div>

                    <div class="searchBox">
                        <div class="searchToggle">
                            <i class='bx bx-x cancel'></i>
                            <i class='bx bx-search search'></i>
                        </div>

                        <div class="search-field">
                            <input type="text" placeholder="Search...">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>


    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Toastify")
</body>
</html>